@page "/charts/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Charts</h3>
<hr />
<br />
<FormComponent ButtonText="Create Chart" chart="chart" OnValidSubmit="@CreateChart" />

@code {
    Chart chart = new Chart();

    private async Task CreateChart()
    {
        await _client.PostAsJsonAsync(Endpoints.ChartsEndpoint, chart);
        _navManager.NavigateTo("/charts/");
    }

}
