@page  "/charts/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Charts</h3>
<a href="/charts/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Charts
</a>
<br />
<br />
@if (Charts == null)
{
    <div class="alert alert-info">Loading Charts...</div>
}
else
{
    <table class="table table-responsive" id="chartsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chart in Charts)
            {
                <tr>
                    <td>@chart.Name</td>
                    <td>
                        <a href="/charts/view/@chart.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/charts/edit/@chart.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(chart.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Chart> Charts;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Charts = await _client.GetFromJsonAsync<List<Chart>>($"{Endpoints.ChartsEndpoint}");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#chartsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTablesDispose", "#chartsTable");
        _interceptor.DisposeEvent();
    }

    async Task Delete(int chartId)
    {
        var chart = Charts.First(q => q.Id == chartId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {chart.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ChartsEndpoint}/{chartId}");
            await OnInitializedAsync();
        }
    }
}
