@page "/insights/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Insights</h3>
<hr />
<br />
<FormComponent ButtonText="Create Insight" insight="insight" OnValidSubmit="CreateInsight" />

    @code {
        Insight insight = new Insight();

        private async Task CreateInsight()
        {
            await _client.PostAsJsonAsync(Endpoints.InsightsEndpoint, insight);
            _navManager.NavigateTo("/insights/");
        }

    }
