@page "/tips/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Tips</h3>
<hr />
<br />
<FormComponent ButtonText="Create Tip" tip="tip" OnValidSubmit="CreateTip" />

    @code {
        Tip tip = new Tip();

        private IList<Blog> Blogs;
        private IList<Chart> Charts;
        private IList<Community> Communitys;
        private IList<FinancialPlanning> FinancialPlannings;
        private IList<Insight> Insights;

        protected async override Task OnInitializedAsync()
        {
            Blogs = await _client.GetFromJsonAsync<List<Blog>>($"{Endpoints.BlogsEndpoint}");
            Charts = await _client.GetFromJsonAsync<List<Chart>>($"{Endpoints.ChartsEndpoint}");
            Communitys = await _client.GetFromJsonAsync<List<Community>>($"{Endpoints.CommunitysEndpoint}");
            FinancialPlannings = await _client.GetFromJsonAsync<List<FinancialPlanning>>($"{Endpoints.FinancialPlanningsEndpoint}");
            Insights = await _client.GetFromJsonAsync<List<Insight>>($"{Endpoints.InsightsEndpoint}");
        }

        private async Task CreateTip()
        {
            await _client.PostAsJsonAsync(Endpoints.TipsEndpoint, tip);
            _navManager.NavigateTo("/tips/");
        }

    }
