@page "/financialplannings/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Financial Plannings</h3>
<hr />
<br />
<FormComponent ButtonText="Create Financial Planning" financialplanning="financialplanning" OnValidSubmit="CreateFinancialPlanning" />
    
    @code {
        FinancialPlanning financialplanning = new FinancialPlanning();

        private async Task CreateFinancialPlanning()
        {
            await _client.PostAsJsonAsync(Endpoints.FinancialPlanningsEndpoint, financialplanning);
            _navManager.NavigateTo("/financialplannings/");
        }

    }
