@page  "/financialplannings/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject HttpInterceptorService _interceptor
@implements IDisposable


<h3 class="card-title"> Financial Plannings </h3>
<a href="/financialplannings/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Financial PLannings
</a>
<br />
<br />
@if (FinancialPlannings == null)
{
    <div class="alert alert-info">Loading FinancialPlannings...</div>
}
else
{
    <table class="table table-responsive" id="financialplanningsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var financialplanning in FinancialPlannings)
            {
                <tr>
                    <td>@financialplanning.Name</td>
                    <td>
                        <a href="/financialplannings/view/@financialplanning.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/financialplannings/edit/@financialplanning.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(financialplanning.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<FinancialPlanning> FinancialPlannings;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        FinancialPlannings = await _client.GetFromJsonAsync<List<FinancialPlanning>>($"{Endpoints.FinancialPlanningsEndpoint}");
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#financialplanningsTable");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
        js.InvokeVoidAsync("DataTablesDispose", "#financialplanningsTable");
    }

    async Task Delete(int financialplanningId)
    {
        var financialplanning = FinancialPlannings.First(q => q.Id == financialplanningId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {financialplanning.Name}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.FinancialPlanningsEndpoint}/{financialplanningId}");
            await OnInitializedAsync();
        }
    }
}
