@page "/accounts/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Accounts</h3>
<hr />
<br />
<FormComponent ButtonText="Create Account" account="account" OnValidSubmit="@CreateAccount" />

@code {
    Account account = new Account();

    private IList<Customer> Customers;
    private IList<Tip> Tips;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        Tips = await _client.GetFromJsonAsync<List<Tip>>($"{Endpoints.TipsEndpoint}");
    }

    private async Task CreateAccount()
    {
        await _client.PostAsJsonAsync(Endpoints.AccountsEndpoint, account);
        _navManager.NavigateTo("/accounts/");
    }

}
