@page "/communitys/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>View</h3>
<FormComponent community="community" Disabled="true" />

@code {
    [Parameter] public int id { get; set; }
    Community community = new Community();
    protected async override Task OnParametersSetAsync()
    {
        community = await
        _client.GetFromJsonAsync<Community>($"{Endpoints.CommunitysEndpoint}/{id}");
    }

}
