@page "/blogs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Create New Blogs</h3>
<hr />
<br />
<FormComponent ButtonText="Create Blog" blog="blog" OnValidSubmit="@CreateBlog" />

@code {
    Blog blog = new Blog();

    private async Task CreateBlog()
    {
        await _client.PostAsJsonAsync(Endpoints.BlogsEndpoint, blog);
        _navManager.NavigateTo("/blogs/");
    }

}
